<%- include("partials/header") -%> 

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="blogTitle" class="form-label">Title</label>
    <input class="form-control" type="text" id="blogTitle" name="blogTitle" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="blogContent" class="form-label">Post</label>
        <textarea class="form-control" id="blogContent" name="blogContent" rows="6" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button" value="publish">Publish</button>    
</form>

<%- include("partials/footer") -%>  